/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: url(./../images/cover-image-light.png);
}

:root .theme_light {
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --decorated-color: var(--text-color);
  --main-title-color: #ffc2e6;
  --subtitle-color: var(--text-color);
  --display-icon: none;
}

.theme_light .content__section-title {
  --accent-color: var(--text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --decorated-color: var(--text-color);
    --main-title-color: #ffc2e6;
    --subtitle-color: var(--text-color);
    --display-icon: none;
  }
}