/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --size-viewport-block: 100vb;
  --main-font: 'IBM Plex Mono';
  --main-offset: clamp(10px, 2.61vi , 20px);
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --main-title-color: #db00ff;
  --subtitle-color: var(--bg-color);
  --decorated-color: var(--accent-color);
  --section-title-color: var(--accent-color);
  --display-icon: inline-flex;
}

@media (width >= 768px) {
  :root {
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}